.guides
.example
  min-height: 1px
  width: 48%

.guides
  float: left
  font-family: "proxima-nova-1","proxima-nova-2",sans-serif

  h1
    font-size: 24px

    small
      color: #888
      display: block
      font-size: 16px
      font-weight: normal
      text-transform: uppercase

.example
  border-right: 1px solid #F1F1F1
  float: left
  margin-right: 3.8%
  position: relative

  a
  a:hover
    color: #444
    display: inline-block
    text-decoration: none

  a:hover
    background: #F1F1F1

  a.trigger
    absolute: right 10px, top 10px
    background: #444
    border-radius: 20px
    color: #FFF
    font-size: 10px
    opacity: .5
    padding: 5px 10px
    transition: opacity 0.5s ease-in-out

    &:hover
      background: #444
      color: #FFF
      opacity: 1

.hidden
  display: none
